<div ng-controller="historyControl" ng-cloak layout-gt-sm="row" layout="column">
  <div flex-gt-sm="50" flex>
    
   <md-toolbar layout="row" class="md-hue-3" layout-align ="left center" >
      &nbsp;  &nbsp;  &nbsp;  &nbsp;
       <div>
        <span>COMPLETED TRANSACTIONS</span>
      </div>
        &nbsp;  &nbsp;  &nbsp;  &nbsp;

<div>
 <md-select ng-model="districtsForDisplay.districtsForDisplaySelected" ng-change="getNewValuesForHistory()" >
 <md-option ng-repeat="districtObject in districtsForDisplay"  ng-value="districtObject">{{districtObject.district}}</md-option>
</md-select>
</div>

  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; 
       <div>
      <p>Total Sent : {{historySumQuantity}}   
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  Total Correctly received : {{historySumCorrect}} </p>
       </div>
    </md-toolbar>

    <md-content>
     
     <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="item in history" >
          <div class="md-list-item-text" layout="column" ng-style="{'background-color': item.backgroundColor}">


<div ng-if="item.deliveryCode == '0'">


	<div class="row">
		<div class="col-md-3 ">Transaction ID : {{ item.recordId }}<br>District: {{ item.district }}<br>Assembly: {{item.assemblyId}} - {{ item.assembly}}<br>Remarks : {{item.additionalComments}}</div>
		<div class="col-md-3 ">Transaction Date :  {{ item.dateOfSending }}<br>Epic Delivered : {{ item.quantity }} <br> Deilivery Medium : {{ item.medium_name }}</div>
		<div class="col-md-3 "></div>
	</div>

</div>

	<div ng-if="item.deliveryCode == '1'">




	<div class="row">
		<div class="col-md-3 ">Transaction ID : {{ item.recordId }}<br>District: {{ item.district }}<br>Assembly: {{item.assemblyId}} - {{ item.assembly}}<br>Remarks : {{item.additionalComments}}</div>
		<div class="col-md-3 ">Transaction Date :  {{ item.dateOfSending }}<br>Epic Delivered : {{ item.quantity }} <br> Deilivery Medium : {{ item.medium_name }}</div>
		<div class="col-md-3 responseClass">Epic  Received : {{ item.received }}<br>Correct Epic : {{item.received -  item.defective }}<br>Defective Epics : {{ item.defective }}<br>Remarks : {{ item.comments }}</div>
		<div class="col-md-3 responseClass">Missing Epics : {{ item.quantity - item.received }}<br>Received Date : {{ item.time }}</div>



	</div>

         </div>


          </div>
        </md-list-item>
        <md-divider ></md-divider>
      </md-list>

    </md-content>

  </div>
</div>
