<div ng-controller="reportGenControl">
<md-content>
	<div>
  <div flex-gt-sm="100" flex>
    
    <md-toolbar layout="row" class="md-hue-3">   
      <div class="md-toolbar-tools">
        <span>REPORT GENERATION</span>
      </div>
    </md-toolbar>


 <md-button class="responseButton md-primary md-raised" ng-click="reportAction(1)">ACCEPTED EPIC SUMMARY</md-button>
<md-button class="responseButton md-primary md-raised" ng-click="reportAction(2)">EPICS UNDER TRANSITION</md-button>
	
  </div>
</div>
</md-content
</div>
