/* HEADS-DEMO */

/* General Demo Style 
body{
	margin:0px;
	font-family: Cambria, Georgia, serif;
	background:#DCA1F1;
	font-weight: 300;
	font-size: 15px;
	color: #333;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll;
	overflow-x: hidden;
}
*/
.heads-main a{
	color: #555;
	text-decoration: none;
}
.heads-container{
	width: 100%;
	position: relative;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.heads-main{
	width: 90%;
	margin: 0 auto;
	position: relative;
}

/* HEADS COMMON */
.ch-grid-1{
	margin: 0px 0px 10% 0px;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
	margin-bottom:150px;
}

.ch-grid-2,.ch-grid-3{
	margin: 0px 0px 50px 0px;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid-1:after ,.ch-grid-2:after,.ch-grid-3:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid-1:after ,.ch-grid-2:after,.ch-grid-3:after,{
	clear: both;
}

.ch-grid-1 li {
	width: 310px;				/*CHANGE RADIUS*/
	height: 310px;
	display: inline-block;
	margin: 30px;
}
.ch-grid-2 li{
	width: 280px;
	height: 280px;
	display: inline-block;
	margin: 30px;
}
.ch-grid-3 li{
	width: 250px;
	height: 250px;
	display: inline-block;
	margin: 30px;
}

/* HEADS-STYLE */
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	background-size:100% 100%;
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}



.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch-info-1,.ch-info-2,.ch-info-3 {
	position: absolute;
	background: rgba(108, 83, 168, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden;

}
.ch-item:hover .ch-info-1,.ch-item:hover .ch-info-2,.ch-item:hover .ch-info-3 ,.ch-item-home:hover .home-workshop{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info-1 p,.ch-item:hover .ch-info-2 p,.ch-item:hover .ch-info-3 p {
	opacity: 1;
}

.ch-info-1 h2,.ch-info-2 h2,.ch-info-3 h2{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 auto;
	padding: 30% 0 0 0;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info-1 p,.ch-info-2 p,.ch-info-3 p{
	color: #fff;
	padding: 60px 5px;
	margin: 0 auto;
	
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0.2s;
	-moz-transition: all 1s ease-in-out 0.2s;
	-o-transition: all 1s ease-in-out 0.2s;
	-ms-transition: all 1s ease-in-out 0.2s;
	transition: all 1s ease-in-out 0.2s;
}


/*for level 1*/
.ch-info-1 h2 {
	font-size: 25px;									/*CHANGE THIS*/
	height: 35%;										/*CHANGE THIS TO POSITION NUMBER*/
}
.ch-info-1 p {
	font-size: 20px;										/*CHANGE THIS*/			
}
/* FOR LEVEL 2*/
.ch-info-2 h2 {
	font-size: 22px;
	height: 30%;										/*CHANGE THIS*/
}
.ch-info-2 p {
		font-size: 17px;
}
/*For level 3*/
.ch-info-3 h2 {
	font-size: 20px;
	height: 30%;										/*CHANGE THIS*/
}
.ch-info-3 p {
		font-size: 14px;
}

/* NEW */

.convener {
	text-align:center;
	margin-top:40px;
	margin-bottom:0px;
	font-size:25px;
}

.eventCultural{
	text-align:center;
	margin-top:0px;
	margin-bottom:0px;
	font-size:25px;
}

.centerHeadingOurTeam {
	text-align:center;
	padding-top:60px;
	margin-bottom:0px;
	font-size:25px;
}

.pecfestTeamMainHeading {
	text-align:center;
	margin-top:0px;
	padding-top:60px;
	font-size:60px;
	margin-bottom:0px;
}